/* touched - ao entrar e sair de um campo */
/* dirty - após digitar algo no campo */
.ng-invalid.ng-touched {
    border-color: red;
}
.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: #787A89;
}

.wrapper {
    text-align: center;
}

.wrapper .btn {
    display: inline-block;
    margin: 0px 5px;
}

@media screen and (min-width: 600px) {
   .titulo {
      font-size: 32px;
   }
   .media img {
      width: 160px;
      margin-bottom: 15px;
   }
   .media-body {
      font-size: 13px;
   }
   .media-body .cabecalho {
      font-size: 20px;
   }
   .wrapper .btn {
      min-width: 250px;
   }
   h2, .h2 {
      font-size: 30px;
   }

   h4, .h4 {
      font-size: 18px;
   }
}

@media screen and (max-width: 599px) {
  .titulo {
     font-size: 20px;
  }
  .media img {
     width: 120px;
     margin-bottom: 15px;
  }
  .media-body {
     font-size: 12px;
  }
  .media-body .cabecalho {
     font-size: 18px;
  }
  .wrapper .btn {
     min-width: 150px;
  }
  h2, .h2 {
     font-size: 22px;
  }
  legend {
     font-size: 18px;
  }
  h4, .h4 {
     font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  .titulo {
     font-size: 18px;
  }
  .media img {
     width: 90px;
  }
  .media-body {
     font-size: 12px;
  }
  .media-body .cabecalho {
     font-size: 17px;
     margin-top: 10px;
  }
  .media-body .info2 {
     display: none;
  }
  .wrapper .btn {
     min-width: 120px;
  }
  h2, .h2 {
     font-size: 20px;
  }
  legend {
     font-size: 17px;
  }
  h4, .h4 {
     font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .titulo {
     font-size: 16px;
  }
  .media img {
      display: none;
      /* width: 50px; */
  }
  .media-body {
     font-size: 12px;
  }
  .media-body .cabecalho {
     font-size: 16px;
     margin-top: 10px;
  }
  .media-body .info1 {
     display: none;
  }
  .media-body .info2 {
     display: none;
  }
  .wrapper .btn {
     min-width: 70px;
  }
  h4, .h4 {
     font-size: 14px;
  }
}

.formatoImagem {
   border-radius: 50%;
}
