html {
    height: 102%;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

.footer a {
    color: #639bcf;
}

.footer a:hover {
    color: #d8e6f3;
}

@media screen and (min-width: 600px) {
    .footer {
        font-size: 13px;
    }
}

@media screen and (max-width: 599px) {
    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        font-size: 11px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        font-size: 10px;
    }
}
