<br/>
<div class="row">
   <img class="media-object formatoImagem" src="app/images/jpg/mengao4.jpg">
   <div class="jumbotron">
      <h2 class="text-center">NAÇÃO RUBRO NEGRA</h2>
   </div>

   <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
         <img class="media-object formatoImagem" src="app/images/jpg/mengao1.jpg">
         <div class="caption">
            <h3>DESCONTOS NAS PARTIDAS</h3>
            <p>Sendo Sócio do Mais Querido, você ganha desconstos EXCLUSIVOS na compra dos
               ingressos para partida do seu time de coração! Esses descontos variam de 20% a 50%! IMPERDÍVEL se você quer acompanhar
            todos os jogos e ao mesmo tempo economizar. </p>
         </div>
      </div>
   </div>
   <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
         <img class="media-object formatoImagem" src="app/images/jpg/mengao2.jpg">
         <div class="caption">
            <h3>PRIORIDADE NA COMPRA</h3>
            <p>Sendo Sócio do Mais Querido, você garante seu lugar em todos os jogos do seu time de coração.
            Com o plano ativo, você terá acesso a ingressos nas partidas antes mesmo das vendas oficiais nos postos
            físicos. Com isso, você garante seu lugar até nos jogos mais importantes e visados! IMPERDÍVEL!</p>
         </div>
      </div>
   </div>

   <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
         <img class="media-object formatoImagem" src="app/images/jpg/mengao3.jpg">
         <div class="caption">
            <h3>DESCONTOS EM PRODUTOS OFICIAIS</h3>
            <p>Sendo Sócio do Mais Querido, você ganha descontos imperdíveis na compra de produtos licenciados
            pelo Mengão. São eles, camisas oficiais, bermudas, meias, chuteiras, copos e até mesmo produtos
            de supermecados que possuem parcieirias com o Maior do Mundo. IMPERDÍVEL!</p>
         </div>
      </div>
   </div>
</div>

<br/>